/*---------------------------------------------------------------
6.0 responsive
---------------------------------------------------------------*/

@media (min-width: 1280px) {
    .shared-screen {
        height: 654px;
    }
}

@media (min-width: 1270px) and (max-width: 1279px) {
    .shared-screen {
        height: 649px;
    }
}

@media (min-width: 1260px) and (max-width: 1269px) {
    .shared-screen {
        height: 644px;
    }
}

@media (min-width: 1250px) and (max-width: 1259px) {
    .shared-screen {
        height: 639px;
    }
}

@media (min-width: 1240px) and (max-width: 1249px) {
    .shared-screen {
        height: 635px;
    }
}

@media (min-width: 1230px) and (max-width: 1239px) {
    .shared-screen {
        height: 630px;
    }
}

@media (min-width: 1220px) and (max-width: 1229px) {
    .shared-screen {
        height: 625px;
    }
}

@media (min-width: 1210px) and (max-width: 1219px) {
    .shared-screen {
        height: 620px;
    }
}

@media (min-width: 1200px) and (max-width: 1209px) {
    .shared-screen {
        height: 611px;
    }
}

@media (min-width: 1190px) and (max-width: 1199px) {
    .shared-screen {
        height: 605px;
    }
}

@media (min-width: 1180px) and (max-width: 1189px) {
    .shared-screen {
        height: 602px;
    }
}

@media (min-width: 1170px) and (max-width: 1179px) {
    .shared-screen {
        height: 598px;
    }
}

@media (min-width: 1160px) and (max-width: 1169px) {
    .shared-screen {
        height: 592px;
    }
}

@media (min-width: 1150px) and (max-width: 1159px) {
    .shared-screen {
        height: 585px;
    }
}

@media (min-width: 1140px) and (max-width: 1149px) {
    .shared-screen {
        height: 580px;
    }
}

@media (min-width: 1130px) and (max-width: 1139px) {
    .shared-screen {
        height: 575px;
    }
}
@media (min-width: 1120px) and (max-width: 1129px) {
    .shared-screen {
        height: 568px;
    }
}
@media (min-width: 1110px) and (max-width: 1119px) {
    .shared-screen {
        height: 565px;
    }
}

@media (min-width: 1100px) and (max-width: 1109px) {
    .shared-screen {
        height: 558px;
    }
}

@media (min-width: 1090px) and (max-width: 1099px) {
    .shared-screen {
        height: 554px;
    }
}

@media (min-width: 1080px) and (max-width: 1089px) {
    .shared-screen {
        height: 550px;
    }
}

@media (min-width: 1070px) and (max-width: 1079px) {
    .shared-screen {
        height: 545px;
    }
}

@media (min-width: 1060px) and (max-width: 1069px) {
    .shared-screen {
        height: 540px;
    }
}

@media (min-width: 1050px) and (max-width: 1059px) {
    .shared-screen {
        height: 532px;
    }
}

@media (min-width: 1040px) and (max-width: 1049px) {
    .shared-screen {
        height: 527px;
    }
}

@media (min-width: 1030px) and (max-width: 1039px) {
    .shared-screen {
        height: 524px;
    }
}

@media (min-width: 1020px) and (max-width: 1029px) {
    .shared-screen {
        height: 518px;
    }
}

@media (min-width: 1010px) and (max-width: 1019px) {
    .shared-screen {
        height: 513px;
    }
}

@media (min-width: 1000px) and (max-width: 1009px) {
    .shared-screen {
        height: 505px;
    }
}

@media (min-width: 990px) and (max-width: 999px) {
    .shared-screen {
        height: 501px;
    }
}

@media (min-width: 980px) and (max-width: 989px) {
    .shared-screen {
        height: 497px;
    }
}

@media (min-width: 970px) and (max-width: 979px) {
    .shared-screen {
        height: 492px;
    }
}

@media (min-width: 960px) and (max-width: 969px) {
    .shared-screen {
        height: 486px;
    }
}

@media (min-width: 950px) and (max-width: 959px) {
    .shared-screen {
        height: 481px;
    }
}

@media (min-width: 940px) and (max-width: 949px) {
    .shared-screen {
        height: 476px;
    }
}

@media (min-width: 930px) and (max-width: 939px) {
    .shared-screen {
        height: 470px;
    }
}

@media (min-width: 920px) and (max-width: 929px) {
    .shared-screen {
        height: 465px;
    }
}

@media (min-width: 910px) and (max-width: 919px) {
    .shared-screen {
        height: 460px;
    }
}

@media (min-width: 900px) and (max-width: 909px) {
    .shared-screen {
        height: 454px;
    }
}

@media (min-width: 890px) and (max-width: 899px) {
    .shared-screen {
        height: 449px;
    }
}

@media (min-width: 880px) and (max-width: 889px) {
    .shared-screen {
        height: 444px;
    }
}

@media (min-width: 870px) and (max-width: 879px) {
    .shared-screen {
        height: 438px;
    }
}

@media (min-width: 860px) and (max-width: 869px) {
    .shared-screen {
        height: 433px;
    }
}

@media (min-width: 850px) and (max-width: 859px) {
    .shared-screen {
        height: 428px;
    }
}

@media (min-width: 840px) and (max-width: 849px) {
    .shared-screen {
        height: 423px;
    }
}

@media (min-width: 830px) and (max-width: 839px) {
    .shared-screen {
        height: 417px;
    }
}

@media (min-width: 820px) and (max-width: 829px) {
    .shared-screen {
        height: 412px;
    }
}

@media (min-width: 810px) and (max-width: 819px) {
    .shared-screen {
        height: 407px;
    }
}

@media (min-width: 800px) and (max-width: 809px) {
    .shared-screen {
        height: 400px;
    }
}

@media (min-width: 790px) and (max-width: 799px) {
    .shared-screen {
        height: 395px;
    }
}

@media (min-width: 780px) and (max-width: 789px) {
    .shared-screen {
        height: 391px;
    }
}

@media (min-width: 770px) and (max-width: 779px) {
    .shared-screen {
        height: 385px;
    }
}

@media (min-width: 760px) and (max-width: 769px) {
    .shared-screen {
        height: 380px;
    }
}

@media (min-width: 750px) and (max-width: 759px) {
    .shared-screen {
        height: 375px;
    }
}

@media (min-width: 740px) and (max-width: 749px) {
    .shared-screen {
        height: 370px;
    }
}

@media (min-width: 730px) and (max-width: 739px) {
    .shared-screen {
        height: 364px;
    }
}

@media (min-width: 720px) and (max-width: 729px) {
    .shared-screen {
        height: 359px;
    }
}

@media (min-width: 710px) and (max-width: 719px) {
    .shared-screen {
        height: 354px;
    }
}

@media (min-width: 700px) and (max-width: 709px) {
    .shared-screen {
        height: 348px;
    }
}

@media (min-width: 690px) and (max-width: 699px) {
    .shared-screen {
        height: 343px;
    }
}

@media (min-width: 680px) and (max-width: 689px) {
    .shared-screen {
        height: 338px;
    }
}

@media (min-width: 670px) and (max-width: 679px) {
    .shared-screen {
        height: 332px;
    }
}

@media (min-width: 660px) and (max-width: 669px) {
    .shared-screen {
        height: 327px;
    }
}

@media (min-width: 650px) and (max-width: 659px) {
    .shared-screen {
        height: 322px;
    }
}

@media (min-width: 640px) and (max-width: 649px) {
    .shared-screen {
        height: 317px;
    }
}

@media (min-width: 630px) and (max-width: 639px) {
    .shared-screen {
        height: 311px;
    }
}

@media (min-width: 620px) and (max-width: 629px) {
    .shared-screen {
        height: 306px;
    }
}

@media (min-width: 610px) and (max-width: 619px) {
    .shared-screen {
        height: 301px;
    }
}

@media (min-width: 600px) and (max-width: 609px) {
    .shared-screen {
        height: 295px;
    }
}

@media (min-width: 590px) and (max-width: 599px) {
    .shared-screen {
        height: 299px;
    }
}

@media (min-width: 580px) and (max-width: 589px) {
    .shared-screen {
        height: 293px;
    }
}

@media (min-width: 570px) and (max-width: 579px) {
    .shared-screen {
        height: 288px;
    }
}

@media (min-width: 560px) and (max-width: 569px) {
    .shared-screen {
        height: 283px;
    }
}

@media (min-width: 550px) and (max-width: 559px) {
    .shared-screen {
        height: 277px;
    }
}

@media (min-width: 540px) and (max-width: 549px) {
    .shared-screen {
        height: 272px;
    }
}

@media (min-width: 530px) and (max-width: 539px) {
    .shared-screen {
        height: 267px;
    }
}

@media (min-width: 520px) and (max-width: 529px) {
    .shared-screen {
        height: 261px;
    }
}

@media (min-width: 510px) and (max-width: 519px) {
    .shared-screen {
        height: 256px;
    }
}

@media (min-width: 500px) and (max-width: 509px) {
    .shared-screen {
        height: 251px;
    }
}

@media (min-width: 490px) and (max-width: 499px) {
    .shared-screen {
        height: 245px;
    }
}

@media (min-width: 480px) and (max-width: 489px) {
    .shared-screen {
        height: 240px;
    }
}

@media (min-width: 470px) and (max-width: 479px) {
    .shared-screen {
        height: 235px;
    }
}

@media (min-width: 460px) and (max-width: 469px) {
    .shared-screen {
        height: 230px;
    }
}

@media (min-width: 450px) and (max-width: 459px) {
    .shared-screen {
        height: 224px;
    }
}

@media (min-width: 440px) and (max-width: 449px) {
    .shared-screen {
        height: 219px;
    }
}

@media (min-width: 430px) and (max-width: 439px) {
    .shared-screen {
        height: 214px;
    }
}

@media (min-width: 420px) and (max-width: 429px) {
    .shared-screen {
        height: 208px;
    }
}

@media (min-width: 410px) and (max-width: 419px) {
    .shared-screen {
        height: 203px;
    }
}

@media (min-width: 400px) and (max-width: 409px) {
    .shared-screen {
        height: 198px;
    }
}

@media (min-width: 390px) and (max-width: 399px) {
    .shared-screen {
        height: 192px;
    }
}

@media (min-width: 380px) and (max-width: 389px) {
    .shared-screen {
        height: 187px;
    }
}

@media (min-width: 370px) and (max-width: 379px) {
    .shared-screen {
        height: 182px;
    }
}

@media (min-width: 360px) and (max-width: 369px) {
    .shared-screen {
        height: 177px;
    }
}

@media (min-width: 350px) and (max-width: 359px) {
    .shared-screen {
        height: 171px;
    }
}

@media (min-width: 340px) and (max-width: 349px) {
    .shared-screen {
        height: 166px;
    }
}

@media (min-width: 330px) and (max-width: 339px) {
    .shared-screen {
        height: 161px;
    }
}

@media (min-width: 320px) and (max-width: 329px) {
    .shared-screen {
        height: 155px;
    }
}

@media (min-width: 310px) and (max-width: 319px) {
    .shared-screen {
        height: 150px;
    }
}

@media (min-width: 300px) and (max-width: 309px) {
    .shared-screen {
        height: 145px;
    }
}

@media (min-width: 290px) and (max-width: 299px) {
    .shared-screen {
        height: 139px;
    }
}

@media (min-width: 280px) and (max-width: 289px) {
    .shared-screen {
        height: 134px;
    }
}

@media (min-width: 270px) and (max-width: 279px) {
    .shared-screen {
        height: 129px;
    }
}

@media (min-width: 260px) and (max-width: 269px) {
    .shared-screen {
        height: 124px;
    }
}

@media (min-width: 250px) and (max-width: 259px) {
    .shared-screen {
        height: 118px;
    }
}

@media (max-width: 249px) {
    .shared-screen {
        height: 115px;
    }
}

// @media only screen and (max-width: 1279px) and (min-width: 960px) {
// }

// @media only screen and (min-width: 1200px) {
// }

// @media only screen and (max-width: 1199px) {
// }

//----- IE hack-------
// @media all and (-ms-high-contrast: none) {
// }
